# Environment files
.env
.env.*
!.env.example
!.env.production

# Vendor & node modules
/vendor
/node_modules

# Laravel specific
/storage/*.key
/storage/logs/*.log
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/app/public
/public/storage
/.phpunit.result.cache
/.phpunit.cache
*.log
/storage/pail

# IDE / Editors
/.idea
/.vscode
/.fleet
/.nova
/.zed

# OS junk
.DS_Store
Thumbs.db

# Docker volumes, temp files
docker/data
